<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>LimGen | Главная</title>
</head>

<body>

  <header class="header">
    <button class="logo" onclick="window.location.href='#'" aria-label="На главную">
      <img src="/static/logo.png" alt="Логотип">
    </button>

    <div class="nav-menu">
      <a href="/account" class="profile-link">Профиль</a>
    </div>
  </header>

  <main class="main">
    <div class="circle">
      <p>LimGen - это Web-сервис генерации задач по пределам последовательности, созданный студентами РТУ МИРЭА, для
        помощи преподавателям</p>
      <h1>🎓</h1>
    </div>

    <p class="subtitle">Добро пожаловать в систему оценки знаний</p>

    <div class="buttongen">
      <button class="btn">Начать генерацию!</button>
    </div>
  </main>

  <footer class="footer">
    <p>© 2025 LimGen. Все права защищены.</p>
    <p>Разработано студентами <strong>РТУ МИРЭА</strong> | <a href="#">GitHub проекта</a></p>
    <p><a href="https://t.me/AboutMathematics">О математике. ВУЗ😉</a> | Telegram канал</p>
  </footer>

</body>

</html>